.topGouvernment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
.topGouvernment h1 {
    text-align: center;
    font-size: 3em;
}

.topGouvernment img {
    width: 200px;
}

.navGouvernment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
    background-color: #f2f1f6;
}

.navLinkCss {
    text-decoration: none;
    font-size: 1.5em;
    color: #56555a;
    font-weight: 500;
    padding: 10px 10px;
}

.navLinkCss:hover {
    color: white;
    background-color: #aeadb2;
}

.displayGouv {
    padding: 30px 0;
    background-color: #d3d2d8;
}

.navGouvernment p:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1396px) {
    .navLinkCss {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1340px) {
    .topGouvernment img {
        width: 100px;
    }
    .topGouvernment h1 {
        font-size: 2em;
    }
}