.backgroundSAConstitution {
    background-color: #d3d2d8;
    padding: 20px 15%;
}

.saConstitution {
    background-color: #f0f0f0;
    padding: 20px 5%;
}

.saConstitution h1 {
    text-align: center;
}

.saConstitution h2 {
    text-align: center;
    padding-top: 20px;
    text-decoration: underline;
}

.saConstitution img {
    width: 200px;
    display: block;
    margin: 50px auto;
}

.quote {
    font-style: italic;
    padding: 0 10%;
}

#topConstitutionSA {
    background-color: #d3d2d8;
    border: 5px solid #f0f0f0;
}