.oups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #488bc2;
    min-height: 99vh;
    align-items: center;
}

.oups img {
    width: 400px;
}

.oups h1 {
   color: #f2f1f6;
    font-size: 5em;
}

.oups p {
    color: #f2f1f6;
    font-size: 3em;
}