.pageExemple {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.pageExemple a {
    display: flex;
    flex-direction: row;
    height: 200px;
    max-width: 1300px;
    align-items: center;
    border-bottom: 1px solid #aeadb2;
    text-decoration: none;
    color: #56555a;
}

.pageExemple img {
    margin-right: 30px;
}

@media only screen and (max-width: 1340px) {
    .pageExemple a {
        width: 85%;
    }
}

@media only screen and (max-width: 1111px) {
    .pageExemple a {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .pageExemple a {
        width: 85%;
        flex-direction: column;
        border-bottom: none;
        height: auto;
    }
    .pageExempleDescript {
        border-bottom: 1px solid #aeadb2;
    }
}