#navUp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

header img {
    padding: 20px 0 20px 50px;
}

#dateToday {
    margin: auto 50px;
    font-weight: bold;
    font-size: 1.7em;
}

nav {
    background-color: #bd0a31;
    border-top: 7px solid #00276a;
    box-shadow: 0 8px 6px -6px black;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
}

nav li {
    font-size: 1.4em;
    color: #f2f1f6;
    height: 50px;
    padding: 15px 20px 0 20px;
    cursor: pointer;
}

nav li:hover {
    background-color: #00276a;
}