.searchTopBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d3d2d8;
    height: 40px;
    box-shadow: 0 50px 5px grey;
    z-index: 2;
    padding: 0 15%;
    align-items: center;
}

.searchTopBar button {
    background-color: #f0f0f0;
}

.bnButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.bnButtonOne {
    background-color: #aeadb2;
    width: 30px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    border: 1px solid #56555a;
}

.bnButtonTwo {
    background-color: #aeadb2;
    width: 30px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    border: 1px solid #56555a;
}

.backButton, .nextButton {
    font-size: 2em;
    height: 25px;
    color: #56555a;
}

.homeZone {
    background-color: #f2f1f6;
    height: 25px;
    width: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #56555a;
    cursor: pointer;
}

.homeButton {
    color: #56555a;
    font-size: 1.3em;
    height: 25px;
}

.zoneSearch {
    display: flex;
    flex-direction: row;
    width: 85%;
}

.searchBar {
    width: 85%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #56555a;
}

.headTopBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #488bc2;
    border-bottom: 5px solid #fbc210;
    padding: 0 15%;
}

.upTopBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.upTopBar button {
    background-color: #057291;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    height: 80px;
    font-size: 2em;
    padding: 0 20px;
}

.upTopBar button:hover {
    background-color: #0e7d9c;
    border: 1px solid lightgray;
    cursor: pointer;
}

.downTopBar {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.searchIconFont {
    font-size: 2em;
    height: 40px;
    color: #488bc2;
}

.searchZone {
    background-color: white;
    text-align: center;
    border-radius: 5px 0 0 5px;
    padding-left: 5px;
}

.searchDownBar {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 0 5px 5px 0;
}

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f0f0f0;
    border: 2px solid lightgray;
    padding: 0 15%;
    text-align: center;
    align-items: center;
}

.blockMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    border-right: 2px solid lightgray;
    padding: 10px 10px;
}

.blockMenu:last-child {
    border: none;
}

.blockMenu p{
    margin: 0 10px;
    font-weight: bold;
    color: #56555a;
}

.blockMenu p:hover {
    color: #488bc2;
    cursor: pointer;
}

.fontIcon {
    color: #488bc2;
    font-size: 2.5em;
}