@font-face {
    font-family: 'Permanent Marker';
}

#backgroundDCS {
    background-image: url("../../img/wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoDCS {
    width: 400px;
    margin-top: 50px;
    -webkit-box-shadow: 5px 5px 30px 5px black;
    box-shadow: 5px 5px 30px 5px black;
}

#backListRock {
    background-image: url("../../img/ardoise.png");
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #f2f1f6;
    margin: 50px;
    -webkit-box-shadow: 5px 5px 30px 5px black;
    box-shadow: 5px 5px 30px 5px black;
}

#backListRock h3 {
    font-size: 2.5em;
}

#backListRock p {
    font-size: 1.5em;
}

#verticalLineDCS {
    background-color: #f2f1f6;
    width: 5px;
    margin: 50px 0;
}

@media only screen and (max-width: 1170px) {
    #verticalLineDCS {
        display: none;
    }
    #backListRock {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 599px) {
    #backListRock {
        margin: 50px auto;
        width: 100%;
        padding-bottom: 30px;
    }
    #logoDCS {
        width: 240px;
        margin-top: 30px;
    }
}