.homeDisplay {
    padding: 30px 15%;
    max-width: 1344px;
    margin: auto;
}

.randomPub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.pubBorder {
    margin: 5px 10px;
}

.pubBorder p {
    background-color: #488bc2;
    border-top: 2px solid #fbc210;
    color: #f0f0f0;
    font-weight: 600;
    text-align: center;
    padding: 5px 0;
    margin: 0;
    width: 400px;
}

.picturePub {
    background-color: #488bc2;
    max-width: 396px;
    max-height: 146px;
    padding: 2px;
}

.picturePub:hover {
    cursor: pointer;
    opacity: 0.6;
}

.randomInsertZone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

.randomInsert {
    background-color: #fbc210;
    height: 150px;
    width: 250px;
    padding: 2px;
    margin: 10px 0;
}

.randomInsert:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media only screen and (max-width: 750px) {
    .randomInsertZone {
        flex-direction: column;
    }
    .randomInsertZone a {
        margin: 10px auto;
    }
}

@media only screen and (max-width: 450px) {
    .pubBorder p {
        width: 300px;
    }
    .picturePub {
        max-width: 296px;
    }
}
